<div class="mt-4">
  <h2>Khoá học của tôi</h2>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khoá học</th>
          <th scope="col">Mô tả</th>
          <th scope="col" colspan="2">VideoId</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.videoId}}</td>
            <td>
              <a href="/courses/edit/{{this._id}}" class="btn btn-link">Sửa</a>
              <a class="btn btn-link">Xoá</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>