<form name="containerForm" method="POST" class="mt-4" action="/courses/handle-form">
  <div>
    <h2>Khoá học của tôi</h2>
    <a href="/me/trash/courses">Khoá học đã xoá {{deletedCount}}</a>

    <div class="mt-4">
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check-all">
        <label class="form-check-label" for="check-all">Chọn tất cả</label>
      </div>

      <select style="width: 250px" class="form-select checkbox-select-options" aria-label="Default select example" name="action" required>
        <option value="">--- Chọn hành động ---</option>
        <option value="delete" >Xoá</option>
      </select>

      <button class='btn btn-primary btn-action-submit disabled'> Thực hiện </button>
    </div>

  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Tên khoá học {{{sortable 'name' _sort}}}
            {{!-- <a href="?_sort&column=name&type=desc">
              <span class="oi oi-elevator"></span>
            </a> --}}
          </th>
          <th scope="col">Mô tả {{{sortable 'description' _sort}}}</th>
          <th scope="col" colspan="2">VideoId {{{sortable 'videoId' _sort}}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>
              <div class="mb-3 form-check">
                <input type="checkbox" name="courseIds[]" class="form-check-input" value="{{this._id}}">
              </div>
            </td>
            <th scope="row">{{this._id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.videoId}}</td>
            <td>
              <a href="/courses/edit/{{this._id}}" class="btn btn-link">Sửa</a>
              <a
                class="btn btn-link"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                data-id="{{this._id}}"
              >Xoá</a>
            </td>
          </tr>
        {{else}}
          <tr class='text-center'>
            <td colspan="5" >Bạn chưa đăng khoá học nào!
              <a href="/courses/create">Đăng khoá học</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xoá không?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Nhầm</button>
        <button id="delete-btn" type="button" class="btn btn-danger">Chắc chắn</button>
      </div>
    </div>
  </div>
</div>

{{!-- hidden form  --}}
<form method="POST" name="delete-form-course"></form>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const exampleModal = document.getElementById('exampleModal')
    let id;
    const deleteForm = document.forms["delete-form-course"];
    const checkAll = document.querySelector('#check-all');
    const checkBoxItems = document.querySelectorAll('input[name="courseIds[]"]');
    const btnSubmitAll = document.querySelector('.btn-action-submit');
    const containerForm = document.forms["containerForm"];

    exampleModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
      id = button.getAttribute('data-id');
    })

    const delBtn = document.getElementById('delete-btn')
    delBtn.addEventListener('click', () => {
      deleteForm.action = `/courses/${id}?_method=DELETE`;
      deleteForm.submit();
    })

    //submit form
    btnSubmitAll.onsubmit = (e) => {
      e.preventDefault();
    }

    //listen check all
    checkAll.onchange = function(){
      const isChecked = checkAll.checked;
      checkBoxItems.forEach(e => {
        e.checked = isChecked;
      })
      toggleDisabled();
    }

    //listen check items
    checkBoxItems.forEach(e => {
      e.onchange = function(){
        const isCheckedAll =  checkBoxItems.length  === document.querySelectorAll('input[name="courseIds[]"]:checked').length
        checkAll.checked = isCheckedAll;
        toggleDisabled();
      }
    })

    //Toggle disabled submit button
    function toggleDisabled() {
      const countBoxChecked = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
      if(countBoxChecked > 0){
        btnSubmitAll.classList.remove('disabled');
      }else{
        btnSubmitAll.classList.add('disabled');
      }
    }

})
</script>