<div class="mt-4">
  <div>
    <h2>Khoá học của tôi đã xoá</h2>
    <a href="/me/stored/courses">Quay lại danh sách khoá học</a>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khoá học</th>
          <th scope="col">Mô tả</th>
          <th scope="col" colspan="2">VideoId</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.videoId}}</td>
            <td>
              <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
              <a
                class="btn btn-link"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                data-id="{{this._id}}"
              >Xoá vĩnh viễn</a>
            </td>
          </tr>
        {{else}}
          <tr class="text-center">
            <td colspan="5">
              Thùng rác trống
              <a href="/me/stored/courses">Trở về</a>
            </td>
          </tr>

        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xoá không?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Nhầm</button>
        <button id="delete-btn" type="button" class="btn btn-danger">Chắc chắn</button>
      </div>
    </div>
  </div>
</div>


<form method="POST" name="delete-form-course"></form>

<form method="POST" name="restore-form-course"></form>

<script>
  document.addEventListener("DOMContentLoaded", () => { 
    const exampleModal = document.getElementById('exampleModal') 
    let id; 
    const deleteForm = document.forms["delete-form-course"];
    const btnsRestore = document.querySelectorAll('.btn-restore'); 
   
    exampleModal.addEventListener('show.bs.modal', function (event) { 
      const button = event.relatedTarget;
      id = button.getAttribute('data-id') });

      const delBtn = document.getElementById('delete-btn');
      delBtn.addEventListener('click', () => {
          deleteForm.action = `/courses/force/${id}?_method=DELETE`;
          deleteForm.submit();
      }) 

    btnsRestore.forEach(e => {
      e.addEventListener('click', (event) => {
        event.preventDefault();
        const courseId = e.dataset.id;
        const restoreForm = document.forms["restore-form-course"];
        restoreForm.action = `/courses/restore/${courseId}?_method=PATCH`
        restoreForm.submit();
      })
    })


  })
</script>